<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Taskify</title>
  </head>
  <body>
    <div class="py-3 border-b border-gray-300 px-20">
      <h1 class="text-xl text-violet-600 font-bold">Taskflow</h1>
    </div>
    <div class="px-20 py-14 flex flex-col items-center">
      <form action="/add-task" method="post" class="w-1/3 flex gap-3">
        <input
          type="text"
          name="title"
          class="p-3 h-12 rounded-lg border border-gray-300 bg-gray-100 w-2/3"
          placeholder="What's happened ?"
        />
        <button
          type="submit"
          class="px-8 py-2 bg-violet-600 rounded-lg text-white"
        >
          Add Task
        </button>
      </form>
      <div class="grid grid-cols-3 gap-4 pt-12">
        <% if(!tasks) { %>
        <h1 class="text-lg text-gray-600 text-center">No Tasks for today</h1>
        <% } else { %> <% tasks.forEach(task => { %>
        <form
          action="/deleted-task/<%= task._id%>"
          method="post"
          class="cursor-pointer"
        >
          <button
            type="submit"
            class="w-full text-lg text-gray-600 py-2 px-6 rounded-lg border border-gray-500 bg-gray-100"
          >
            <%= task.title%>
          </button>
        </form>
        <% }) %> <% } %>
      </div>
    </div>
  </body>
</html>
